<div class="container fluid">
	<h1>Please Sign In</h1>

	<%- if flash[:error] %>
	<%= flash[:error] %>
	<% elsif flash[:success] %>
	<%= flash[:success] %>
	<% end %>

	<%= form_for :session, url: sessions_path do |f| %>
	<div style="margin-top: 20px">
		<%= f.label :email %>
	    <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
	</div>

	<div style="margin-top: 20px">
	    <%= f.label :password %>
	    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
	</div>

	<!--     <#%= f.label :remember_me %>
	    <#%= f.check_box :remember_me %> -->
	<div style="margin-top: 20px">
	    <%= f.submit 'Sign In', class: 'btn btn-primary' %>
	</div>

	<% end %>
	
	<div style="margin-top: 20px">
	New User? <%= link_to 'Register for special promotions', new_user_path %>
	</div>

</div>