<div class="container">

	<h3>Booking details</h3> <hr>
	Title: <%= @workshop.title %> <br/>
	Description: <%= @workshop.description %> <br/>
	Date: <%= @workshop.date %> <br/>
	Time: <%= @workshop.time %>

		<% if !@booking.payment %>
			<%= button_to "Proceed to payment", braintree_new_path(@booking), method: :get %>
		<% end %>

    <div id="flash" class="text-center">
      <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%= value %></div>
      <% end %>
    </div>
    
</div>